@charset 'utf-8';

body {
	width: 100vw;
	font-size: 24pt;
	overflow-x: hidden;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	color: #ffffff;
	background-color: rgba(64,64,64,.8);
}
footer input {
	color: #222222;
}
#showcase {
	padding-bottom: 4rem;
}
.showcase-element {
	height: 50vh;
	box-sizing: border-box;
	position: relative;
	overflow-y: hidden;
}
.showcase-element img {
	width: 100%;
	vertical-align: middle;
}
#chosen {
	font-size: 1rem;
	line-height: 1em;
}
#chosen > input {
	display: inline-block;
	margin: 0.5em 0;
	width: 12em;
	max-width: 32%;
}
#name-container {
	text-align: center;
	font-size: 1rem;
	padding: 0.5em 0;
}
footer label {
	display: none;
}
@media screen and (min-width: 64em) {
	footer label {
		display: inline;
	}
}
#name {
	max-width: 100%;
	width: 16em;
	text-align: left;
}
#vote {
	font-size: 2rem;
	line-height: 1em;
}
.showcase-element .detail {
	display: none;

	position: absolute;
	width: 100%;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	height: 10em;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
.showcase-element.active .detail {
	display: block;
}
.detail .title {
	font-size: 2.5rem;
	white-space: nowrap;
}
.detail .search {
	display: block;
	font-size: 5rem;
	color: #cccccc;
	text-shadow: .05em .05em .05em #666666;
}
.detail .search:hover {
	text-shadow: .05em .05em .3em #ffffff, .05em .05em .05em #666666;
}
.showcase-element.chosen {
	border: 1vmax solid #ffff99;
}
